body {
    margin:0;
    padding:0;
}

#wrapper {
    margin: 10% auto;
}

header {
    margin-top: -10%;
    width:100%;
    height: 60px;
    position: fixed;
    background: #A4A4A4;
    text-align: center;
    font-size: 1.3em;
    color: white;
    padding: 10px;
}

#formRegistr {
    margin: 10% auto;
    width: 20%;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#formLogin {
    margin: 10% auto;
    width: 20%;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background: lightgoldenrodyellow;
}

#formMain {
    margin: 4% auto;
    width: 20%;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #fff;
    background: #0c3857;
}

#formName {
    width: 100%;
    font-size: 1.4em;
}

input[type="text"], input[type="email"] {
    width: 90%;
    color: #666666;
    border: 2px solid lightgray;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 0.8em;
}

#error {
    color: red;
    font-size: 0.8em;
}

#exit {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    background: red;
    padding: 0 5px;
    border-radius: 50%;
}

#exit:hover {
    color: red;
    background: white;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 50%;
}

#table_output_words, th, td {
    border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	width: 25%;
}

table#table_output_words tr:nth-child(even) {
    background-color: #eee;
}
table#table_output_words tr:nth-child(odd) {
    background-color: #fff;
}